//导入公共样式
@import 'public';
#box{
    width: 400px;
    height: 600px;
    margin: auto;
    position: relative;
    border: 1px solid black;
    .top{
        width: 400px;
        height: 400px;
        position: absolute;
        border: 1px solid green;
        .mark_l{
            width: 200px;
            height: 400px;
            position: absolute;
            z-index: 1;
            opacity: 0;
        }
        .mark_r{
            width: 200px;
            height: 400px;
            position: absolute;
            background: pink;
            top: 0;
            right: 0;
            z-index: 1;
            opacity: 0;
            //& ： #box .top .mark_r
            #div &{
                background: gray;
            }
        }
    }
}


nav a{
    color: red;
    //& ： 代表从当前所在位置开始的所有祖先选择器  nav a
    header &{
        color : green;
    }
}

#top_nav_li{
    border : {
        style : solid;
        left : {
            width : 4px;
            color : #888888;
        }
        right : {
            width : 2px;
            color : #cccccc
        }
    }
}
/*
    这个注释会一起编译到css中
    页面字符统一设置为18像素
*/
body{
    font-size: $fontSize; //变量的一般调用 （以值的方式调用） 仅限于sass中
}

#pox{
    font: #{$fontSize} / #{$lineHeight}; //变量的特殊调用（以属性的方式调用）
}


#pox1{
    border-#{$borderDir} : 1px solid gray;
    @include size(100%,200px);
}
#pox2{
    @include size(800px,100px);
    @include position(absolute,200px);
}
#box2{
    @extend #pox2;
    background: red;
}

$hehe : ccc;
body{
    @if $hehe == aaa{
        background-color: black;
    }@else if $hehe == bbb{
        background-color: yellow;
    }@else{
        background-color: green;
    }
}

$colNum : 4;
@for $i from 1 through $colNum{
    col-#{$i}{
        width : 100% / $colNum * $i;
    }
}

@for $j from 1 to $colNum{
    row-#{$j}{
        height : 100% / $colNum * $j;
    }
}

$colors : success error warging;
@each $k in $colors{
    i-#{$k}{
        background-image: url(img/i/#{$k}.jpg);
    }
}

.list{
    background-color: fnColor(ccc);
}
